body{

}

.nav-puresia{
  font-family: 'Abhaya Libre', serif;
}

.new-dark-footer{
  background-color: #2B2B2A;
  color: #FFFFFF;
}

.new-dark-footer .h5-sm{
  color: #FFFFFF;
}

.new-dark-footer ul li a{
  color: #FFFFFF;
}

.new-dark-footer .footer-links-dark{
  color: #FFFFFF;
}


/* .footer-links-dark{
  color: #FFFFFF;
} */